        <li><a href="/admin?operation=photos&submenu=photos_pending" ><font size="3" color="red">Photos >> </font></a></li>
        <li id="btnphotos1" class="active"><a href="/admin?operation=photos&submenu=list" >list</a></li>
        <li id="btnphotos2" class="active"><a href="/admin?operation=photos&submenu=photos_pending" >Pending</a></li>
        <li id = "btnuser3" ><a href="/admin?operation=photos&submenu=photos_toverify">to verify</a></li>
        <li id = "btnusers4" ><a href="/admin?operation=photos&submenu=photos_suspended">suspended</a></li>
        <li id = "btnusers6" ><a href="/admin?operation=photos&submenu=uploadimage">upload image</a></li>
    