
    <form ref='uploadForm' name='imageUploadForm' id='imageUploadForm'  action='/upload' method='post' encType="multipart/form-data">
    	categorie:<br>
		    <select name="imageCategorieId" id ="imageCategorieId">
				  	<option value="0">Select</option>
				  	<% for (i=0; i<result.length; i++) {%>
				  	
				  	<option name="<%=result[i].categorie_id%>" value="<%=result[i].categorie_id%>"><%=result[i].categorie%></option>
				  	<%}%>
			</select> <br>
    	description:<br>
  			 <textarea name="imageDescription" id="imageDescription" rows="4" cols="50"></textarea><br><br>

			<input type="radio" value="1" id="free" name="licenceType" checked />
            <label for="free">free</label>
			<input type="radio" value="2" id="commercial" name="licenceType"  />
            <label for="commercial">commercial</label><br><br>


			<input type="radio" value="1" id="private" name="privacy" checked />
            <label for="private">private</label>
			<input type="radio" value="2" id="public" name="privacy"  />
            <label for="public">public</label>
			<input type="radio" value="3" id="privateshared" name="privacy"  />
            <label for="privateshared">private & shared</label><br><br>

            <input type="checkbox" value="1" id="publish" name="publish" value="1" />
        	<label for="publish">Publish</label><br><br>

        	<input type="file" name="sampleFile" /><br>
        	<input type='submit' value='Upload!' /><br>
    </form> 



 


