        <li><a href="/admin?operation=photos_pending" ><font size="3" color="red">Photos >> </font></a></li>
        <li id="btnphotos" class="active"><a href="/admin?operation=photos_list" >list</a></li>
        <li id="btnphotos" class="active"><a href="/admin?operation=photos_pending" >Pending</a></li>
        <li id = "btnusers" ><a href="/admin?operation=photos_toverify">to verify</a></li>
        <li id = "btnusers" ><a href="/admin?operation=photos_suspended">suspended</a></li>
        <li id = "btnusers" ><a href="/admin?operation=photos_search">search</a></li>
        <li id = "btnusers" ><a href="/admin?operation=photos_uploadimage">upload image</a></li>