<html>
<head>

<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

 <title>Search</title>
</head>
<body>
<nav class="navbar navbar-light bg-light mb-3">
    <div class="container">
      <a href="#" class="navbar-brand">SFSU CSC6-648 TEAM-03</a>
    </div>
  </nav>
  <div class="container searchContainer">
    <div class="search card card-body">
      <h2>Search Picarousel</h2>
      <p class="lead"> Search Terms: bi, bird, birdie, dog, doggie, cute, parr, parrots, parrot, husk, huskey, king</p>
      
    <form name='search-form' class="example" method='POST' action="/search/results" style="margin:auto;max-width:300px" onsubmit='return validate()'>
  <input type="text" placeholder="Search.." name="searchKey">
  <button type="submit"><i class="fa fa-search"></i></button>
</form>
</div>
</div>

<p class= 'lead' id='noSearchKey'> </p>

<style>



form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 5px solid black;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background:#3292a6;
    color: white;
    font-size: 25px;
    border: 5px solid black;
    border-left: none;
    cursor: pointer;
}

form.example button:hover {
    background: #3292a6;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

h2, p, h3 {

    text-align: center
}

#noSearchKey {

	  padding-top: 20px;
}

</style>


<script>

function validate() {

	 if(!document.forms['search-form']['searchKey'].value) {

          document.getElementById('noSearchKey').innerHTML = 'Please provide a search key ... '

          return false

       }
}


</script>


</body>
</html> 

