<html>
  <body>
    <form ref='uploadForm' 
      id='uploadForm' 
      action='/upload' 
      method='post' 
      encType="multipart/form-data">
        <input type="file" name="sampleFile" />
        <input type='submit' value='Upload!' />
    </form> 
    <p id="wrongFileFormat"></p>

    <% if (error){  %>
  
  <script>
  
  document.getElementById('wrongFileFormat').innerHTML = 'Sorry! please upload a jpeg or png file';

  </script>

  <% } %>


  </body>
</html>