

<%- include partials/search-header.ejs %>


<% if (result.length < 1) { %>

<h3> Sorry our database is small and could not match your search query. Please see popular searches for search terms. </h3>

<% } else { %>



  <% for(var i=0; i < result.length; i ++){ %>


<% console.log(result[i].filepath) %>



  <img src="<%= result[i].filepath %>" class="img-fluid rounded-circle" style="width:250px;height:250px;">






<% }  } %>
