<head>
    <link rel="stylesheet" href="../../public/css/styleupload.css">
  </head>
  <h1>SFSU Team 3</h1>
  <h2>     DOWNLOAD   </h2>
  
  
  
    <form method="get" action="file.JPG">
      <p>CART</p>
     <button type="submit">Download!</button>
  </form>
   