<head>
    
    <link rel="stylesheet" href="../../public/css/styleupload.css">
</head>
<div class="wrapper">
  <header>
    <h1>UPLOAD</h1>
    <span>SFSU Team 23</span>
  </header>
  

  
  <div class="sections">
    
    <section class="active">
      <input type="text" placeholder="TITLE" id="title"/>
     

      
      
      
       <section class="active">
      <input type="text" placeholder="Info about photo" id="title"/>
      
      

      
   
  
  </div>
  


<form action="upload.php" method="POST">
  <input type="file" multiple>
  <p>Drag your files here or click in this area.</p>
  <button type="submit">Upload</button>
</form>



<h2><a href="#" id="addScnt">Add Tags</a></h2>

<div id="p_scents">
    <p>
        <label for="p_scnts"><input type="text" id="p_scnt" size="20" name="p_scnt" value="" placeholder="Input Value" /></label>
    </p>
</div>

