<!DOCTYPE html>
<html lang="en">

  <head>
    <title>PiCarousel</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
      crossorigin="anonymous">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

   <style>
    
    h1 {
      color:white;
      font-weight:bold;
      text-align:left;
    }

    a{
      font-size: 24px;
    }

    h2{
      text-align:center;
      color:white;
    }
  </style>
  </head>

  <body>
    <header>
      <!-- Start Navbar -->
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a href="/"><img src="/logo.jpg" id="logo" style="width:100px"/></a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">Meet the Hackers</a>
            </li>
            <!-- Sign in using modal forms. WIP, import Ekta's modal sign-in -->
            <li class="nav-item">
              <% if (!session_username) { %>
              <a class="nav-link" href="/login">Sign In</a>
              <% } else { %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%=session_username%></a>
                 <div class="dropdown-menu" style="padding-right:50px;">
                    <a class="dropdown-item" href="/imgupload">Upload</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                     </li>
              <% } %>
              </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- End Navbar-->

    <div align="center"style="margin-top:-40px;margin-bottom:60px;height:220px;width:100%;background-color:white">
        <h4 style="color:black; font-size:30px">"SFSU Software Engineering Project CSC 648-848, Summer 2018.  For Demonstration Only” at the top of the WWW page. (Important so as to not confuse this with a real application)</h4>
    </div>

    <!-- Jumbotron Display-->
      <div class="jumbotron" id="feature" style="margin-top:-60px;">
        <h3 class="display-4" style="color:white; font-size:60px">Join the community of over 10,000 photographers.</h3>
        <p class="lead" style="color:white;font-size:40px">Develop your portfolio with us.</p>
        <hr class="my-4">
        <p class="lead">
          <a class="btn btn-primary btn-lg" style="font-size:30px" href="/register" role="button">Register Here.</a>
        </p>
      </div>

      <!-- search bar -->
      <div class="container searchContainer">
        <div class="search card card-body">
            <h2>Search Picarousel</h2>
            <p class="lead" style="font-size:20px"> Search Terms: bi, bird, birdie, dog, doggie, cute, parr, parrots, parrot, husk, huskey, king</p>
          <form name='search-form' class="example" method='POST' action="/search/results" style="margin:auto;max-width:300px" onsubmit='return validate()'>
            <input type="text" placeholder="Search.." name="searchKey">
            <button type="submit"><i class="fa fa-search"></i></button>
          </form>
            <p class= 'lead' id='noSearchKey'> </p>
        </div>
      </div>
        <h1 class="text-primary  mt-5 mb-5" style="text-align:center;"> Categories </h1>
    
  <main role="main">

<!-- Begin Gallery Container-->
<div class="container">
  <h1 class="my-4 text-center text-lg-left">Gallery</h1>
  <div class="row text-center text-lg-left">
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
    <div class="col-lg-3 col-md-4 col-xs-6">
      <a href="#" class="d-block mb-4 h-100">
        <img class="img-fluid img-thumbnail" src="http://placehold.it/400x300" alt="">
      </a>
    </div>
  </div>
</div>
<!-- End Gallery -->

      <!-- FOOTER -->
      <footer class="page-footer font-small stylish-color-dark pt-4">
        <!-- Footer Links -->
        <div class="container text-center text-md-left">
          <!-- Grid row -->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-2 mx-auto">
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </div>
        <!-- Footer Links -->
        <hr>
        <!-- Registration button -->
        <ul class="list-unstyled list-inline text-center py-2">
          <li class="list-inline-item">
            <h5 class="mb-1" href="">Register for free</h5>
          </li>
          <li class="list-inline-item">
            <a href="/register" class="btn btn-danger btn-rounded">Sign up!</a>
          </li>
        </ul>
        <hr>
        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
          <li class="list-inline-item">
            <a class="btn-floating btn-fb mx-1">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-tw mx-1">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-gplus mx-1">
                <i class="fab fa-linkedin-in"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn-floating btn-li mx-1">
                <i class="fab fa-github-alt"></i>
            </a>
          </li>
        </ul>
        <!-- Social buttons -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2018 Copyright:
        </div>
        <!-- Copyright -->

      </footer>
      <!-- Footer -->

    </main>


<script>

function validate() {

  if(!document.forms['search-form']['searchKey'].value) {

          document.getElementById('noSearchKey').innerHTML = 'Please provide a search key ... '

          return false

       }

       if(document.forms['search-form']['searchKey'].value.length > 10) {

          document.getElementById('noSearchKey').innerHTML = 'Search query too big. Try again with characters of length <= 10'

          return false
       }

       let special = new RegExp(/[~`!#$%\^&*+=\-\[\]\\';,/{}|\\":<>\?]/);

        if(special.test(document.forms['search-form']['searchKey'].value)) {

          document.getElementById('noSearchKey').innerHTML = 'Invalid characters encountered. Try again'

          return false

        }


}


</script>

    <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
      crossorigin="anonymous"></script>
  </body>


</html>