<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">

    <!-- Insert your name below.-->
    <title>Meet Arnold</title>
</head>

<body>
     <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <a href="/"><img src="/logo.jpg" id="logo" style="width:100px"/></a>
           <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about">Meet the Hackers</a>
            </li>
            <!-- Sign in using modal forms. WIP, import Ekta's modal sign-in -->
            <li class="nav-item">
              <% if (!session_username) { %>
              <a class="nav-link" href="/register">Sign In</a>
              <% } else { %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><%=session_username%></a>
                 <div class="dropdown-menu" style="padding-right:50px;">
                  <a class="dropdown-item" href="#">View Profile</a>
                   <a class="dropdown-item" href="#">Posts</a>
                    <a class="dropdown-item" href="/imgupload">Upload</a>
                    <a class="dropdown-item" href="/logout">Logout</a>

                     </li>
              <% } %>
              </li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">Who Am I?</h3>
  <img src="../images/team_img/arnold.jpg" class="img-fluid rounded-circle" style="display:inline" width="250" height="250">
  <h3>Perfect picture</h3>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">Current Occupation</h3>
  <p>Starving college student looking for a kind soul to give me a chance.</p>
  <a href="#" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-search"></span> Search
  </a>
</div>

<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">    
  <h3 class="margin">Where To Find Me?</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p></p>
      <img src="../images/icons/github_purple.png" class="img-fluid margin" style="width:33%" alt="">
    </div>
    <div class="col-sm-4"> 
      <p></p>
      <img src="../images/icons/github_purple.png" class="img-fluid margin" style="width:33%" alt="">
    </div>
    <div class="col-sm-4"> 
      <p></p>
      <img src="../images/icons/github_purple.png" class="img-fluid margin" style="width:33%" alt="">
    </div>
  </div>
</div>


<!-- Loading Javascript -->
<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
  crossorigin="anonymous"></script>


</body>

</html>