  <li><a href="/admin?operation=categorie&submenu=categories" ><font size="3" color="red">Categories >> </font></a></li>
  <li id="btnphotos" class="active"><a href="/admin?operation=categorie&submenu=list" >list</a></li>
 