  <li><a href="/admin?operation=photos_pending" ><font size="3" color="red">Categories >> </font></a></li>
        <li id="btnphotos" class="active"><a href="/admin?operation=users_verify" >list</a></li>
        <li id = "btnusers" ><a href="/admin?operation=users_toverify">edit / delete</a></li>